:root {
	--navy: #22223b;
	--teal: #06acb5;
	--lavender-dark: #4a4e69;
	--lavender-light: #6d6875;
	--blue-light: #bbcfd7;

	--primary: #ff0062f0;
	--secondary: #153690;
	--tertiary: #d2d1d2;
	--disabled: #96979c;

	--success: #31d599;
	--warning: #e5c80f;
	--info: #bad2d2;
	--error: tomato;

	--white: #fff;
	--white-2: #f2f2f2;

	--black-1: #111;
	--black-2: #222;
	--black-3: #333;
	--black-4: #444;
	--black-5: #555;
	--black-6: #666;
	--black-7: #777;
	--black-8: #888;
	--black-9: #999;

	--gray-a: #aaa;
	--gray-b: #bbb;
	--gray-c: #ccc;
	--gray-d: #ddd;
	--gray-e: #eee;
}
