:root {
	--unit-0-25: 0.25rem;
	--unit-0-4: 0.4rem;
	--unit-0-5: 0.5rem;
	--unit-0-75: 0.75rem;
	--unit-1: 1rem;
	--unit-1-2: 1.2rem;
	--unit-1-25: 1.25rem;
	--unit-1: 1rem;
	--unit-2: 2rem;
	--unit-2-5: 2.5rem;
	--unit-3: 3rem;
	--unit-7-5: 7.5rem;
	--unit-13: 13rem;

	--input-padding: 0.75rem 1rem;
}
