@import '../1-global/global';

* {
	box-sizing: border-box;
}
*,
*:hover {
	transition: var(--transition);
	transition-property: all;
}

*:focus {
	outline: none;
}

html {
	font-size: 16px;
}

body {
	box-sizing: border-box;
	color: var(--black-1);
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
}

svg {
	pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
