.icon--xxxs {
	width: var(--icon--xxxs);
	height: var(--icon--xxxs);
}
.icon--xxs {
	width: var(--icon--xxs);
	height: var(--icon--xxs);
}
.icon--xs {
	width: var(--icon--xs);
	height: var(--icon--xs);
}
.icon--sm {
	width: var(--icon--sm);
	height: var(--icon--sm);
}
.icon--md {
	width: var(--icon--md);
	height: var(--icon--md);
}
.icon--lg {
	width: var(--icon--lg);
	height: var(--icon--lg);
}
.icon--xl {
	width: var(--icon--xl);
	height: var(--icon--xl);
}
.icon--xxl {
	width: var(--icon--xxl);
	height: var(--icon--xxl);
}
.icon--xxxl {
	width: var(--icon--xxxl);
	height: var(--icon--xxxl);
}
